@charset "UTF-8";
/*
---------------------------------
    RESPONSIVE LAYOUT
---------------------------------
*/
/*
---------------------------------
		FLEX GRID v1.0
---------------------------------
*/
.flex-row {
  display: flex; }

.col {
  margin: 20px; }

.col {
  flex: 1; }

.col3 {
  flex: 3; }

.col7 {
  flex: 7; }

/* !!! */
@media (max-width: 700px) {
  .flex-row {
    display: block; }
    .flex-row .col {
      flex: 1; } }
/*
---------------------------------
		GOOGLE MAP
---------------------------------
*/
#google-container {
  position: relative;
  width: 100%;
  height: 100vh; }
  @media only screen and (min-width: 768px) {
    #google-container {
      height: 300px; } }
  @media only screen and (min-width: 1170px) {
    #google-container {
      height: 600px; } }

#cd-google-map {
  border: solid 3px #25354f;
  position: relative; }
  #cd-google-map address {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #25354f;
    color: white;
    font-size: 13px; }
    @media only screen and (min-width: 768px) {
      #cd-google-map address {
        font-size: 15px;
        text-align: center; } }

#cd-zoom-in, #cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #25354f;
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-controller.svg");
  /* !!! background image */ }
  @media only screen and (min-width: 768px) {
    #cd-zoom-in, #cd-zoom-out {
      margin-left: 50px; } }

#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px; }
  @media only screen and (min-width: 768px) {
    #cd-zoom-in {
      margin-top: 50px; } }

#cd-zoom-out {
  background-position: 50% -32px; }

/*
---------------------------------
		FORM 
---------------------------------
*/
button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, input, select, textarea {
  color: #25354f;
  font: inherit;
  margin: 0; }

input {
  line-height: normal; }

textarea {
  overflow: auto; }

#form-holder {
  border: solid 3px #25354f;
  background-color: white;
  max-width: 700px;
  margin: 60px auto;
  position: relative; }

form {
  padding: 37.5px;
  margin: 50px 0; }

h1 {
  color: #25354f;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase; }

.underline {
  border-bottom: solid 2px #25354f;
  margin: -0.512em auto;
  width: 80px; }

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%; }

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px; }

.email {
  float: right;
  width: 45%; }

input[type='text'], [type='email'], select, textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #25354f;
  color: #25354f;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

input[type='text']:focus, [type='email']:focus, textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0; }

.message {
  float: none; }

.name {
  float: left;
  width: 45%; }

select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png") no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

select::-ms-expand {
  display: none; }

.subject {
  width: 100%; }

.telephone {
  width: 100%; }

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%; }

::-webkit-input-placeholder {
  color: #25354f; }

:-moz-placeholder {
  color: #25354f;
  opacity: 1; }

::-moz-placeholder {
  color: #25354f;
  opacity: 1; }

:-ms-input-placeholder {
  color: #25354f; }

#form_button {
  background: none;
  border: solid 2px #25354f;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#form_button:hover {
  background: #25354f; }

#frmContact {
  margin: 20px;
  padding: 20px;
  border: solid 1px #25354f;
  background-color: white; }
  @media (max-width: 500px) {
    #frmContact {
      margin: 5px; } }

/*  IKONKY ............................................. */
.kontakt a[href^="mailto:"]:before {
  content: "\f0e0";
  font-family: 'FontAwesome',Arial,Tahoma,Verdana,Helvetica,sans-serif;
  margin-right: 18px;
  text-decoration: none; }

.kontakt a.mobil[href^="tel:"]:before {
  content: "\f10b";
  font-family: 'FontAwesome',Arial,Tahoma,Verdana,Helvetica,sans-serif;
  margin-right: 18px;
  font-size: 120%;
  text-decoration: none; }

.kontakt a.fax[href^="tel:"]:before {
  content: "\f02f";
  font-family: 'FontAwesome',Arial,Tahoma,Verdana,Helvetica,sans-serif;
  margin-right: 18px;
  text-decoration: none; }

.kontakt a[href^="tel:"]:before {
  content: "\f095";
  font-family: 'FontAwesome',Arial,Tahoma,Verdana,Helvetica,sans-serif;
  margin-right: 18px;
  text-decoration: none; }

.kontakt a[href^="http://"]:before {
  content: "\f0c1";
  font-family: 'FontAwesome',Arial,Tahoma,Verdana,Helvetica,sans-serif;
  margin-right: 8px;
  text-decoration: none; }

/*
---------------------------------
		New 
---------------------------------
*/
* {
  margin: 0px; }

body, html {
  background-color: #eff0f9;
  font-family: 'Play', sans-serif;
  color: #333;
  letter-spacing: 0.1em; }

body, html {
  height: 100%; }

nav {
  background-color: #c31200;
  width: 100%;
  height: 0px; }

header .logo {
  content: url("../media/logo.png");
  height: 200px; }
  @media (max-width: 500px) {
    header .logo {
      height: 100px; } }

#line {
  background: url("../media/line.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 10px; }

a:link,
a:visited,
a:active {
  color: #25354f; }

a:hover {
  color: #c31200; }

/*
---------------------------------
		New 
---------------------------------
*/
.text {
  padding: 3%; }
  @media (max-width: 500px) {
    .text {
      padding: 0%; } }
  .text .center {
    text-align: justify; }
  .text p {
    position: relative;
    text-indent: 50px; }
  .text ul {
    padding: 10px;
    text-align: left;
    display: table;
    /* aha! */ }
    .text ul li {
      list-style-type: none;
      padding: 0px;
      display: table-row;
      /* aha! */ }
      .text ul li:before {
        display: table-cell;
        /* aha! */
        content: "✓";
        padding-right: 10px;
        color: #999;
        font-size: 0.7em; }
  .text .left {
    text-align: left; }
    .text .left p {
      padding-top: 30px;
      font-weight: 700; }

h2 {
  margin: 0px;
  color: #c31200;
  text-shadow: 2px 2px 2px #25354f;
  margin-top: 40px; }
  h2#i1:before {
    content: url(../media/icon2.png);
    padding-right: 20px;
    display: table-row;
    opacity: 0.2; }
  h2#i2:before {
    content: url(../media/icon1.png);
    padding-right: 20px;
    display: table-row;
    opacity: 0.2; }
  h2#i3:before {
    content: url(../media/icon3.png);
    padding-right: 20px;
    display: table-row;
    opacity: 0.2; }

.bigger {
  font-size: 120%;
  margin: 20px 0px 20px 0px; }
  @media (max-width: 500px) {
    .bigger {
      font-size: 100%;
      margin: 0px; } }

.fakturacne {
  font-size: 80%; }

.shadow {
  height: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  z-index: 999999; }

/*
---------------------------------
		New 
---------------------------------
*/
#parallax-A {
  background: url("../media/bckg1.jpg");
  min-height: 70%;
  padding-bottom: 20px; }

#parallax-B {
  background: url("../media/bckg2.jpg");
  min-height: 70%;
  padding-bottom: 20px; }

#parallax-C {
  background: url("../media/bckg3.jpg");
  height: 30%;
  padding-bottom: 20px; }

/*
---------------------------------
		KONTAKT
---------------------------------
*/
.kontakt {
  text-align: left;
  padding: 5%;
  color: #25354f; }

.kontakt a {
  text-decoration: none; }

/*
------------------------------------------------------------------
		MENU
------------------------------------------------------------------		
*/
/*
---------------------------------
	SICKY 
---------------------------------
*/
.top-border {
  height: 3px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 100000; }

.sticky {
  display: none;
  /* je riadeny JS po scrollovani */
  position: fixed;
  top: 0;
  z-index: 100001;
  height: 60px;
  width: 100%;
  background-color: #25354f;
  box-shadow: -1px 0px 8px 3px rgba(0, 0, 0, 0.75);
  border-bottom: solid 4px black; }
  .sticky .logo-sticky {
    margin-left: 20px;
    height: 60px; }
    .sticky .logo-sticky img {
      height: 100%;
      position: absolute; }
  .sticky .menu-large {
    visibility: hidden;
    float: right;
    margin-top: -70px; }
    .sticky .menu-large p {
      display: inline-block;
      padding: 30px;
      font-weight: 700;
      font-family: "Montserrat";
      text-transform: uppercase; }
  .sticky .menu-mobile {
    visibility: hidden; }

.menu {
  position: fixed;
  right: 30px;
  margin-top: 10px;
  padding-right: 20px;
  background-color: transparent;
  float: right;
  z-index: 100000000; }
  .menu ul {
    margin: 0px;
    padding: 0px; }

.menu__list {
  padding: 0;
  margin: 0;
  float: right;
  padding-right: 20px;
  text-align: right;
  border: black solid 3px;
  transition: all 2s ease;
  background-color: transparent;
  list-style: none; }

.menu__list--unvisible {
  display: none; }

.menu__item {
  display: inline-block;
  background-color: #25354f;
  padding: 5px; }
  .menu__item a {
    font-weight: 700;
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #eff0f9; }

.menu__link {
  text-decoration: none;
  color: #eff0f9;
  display: block;
  padding: 10px; }

.menu__item:hover {
  background-color: black;
  color: #25354f; }
  .menu__item:hover a {
    background-color: #c31200;
    color: #eff0f9; }

.menu_border {
  padding: 2px;
  background-color: white; }

.menu__btn {
  position: relative;
  float: right;
  display: none;
  width: 30px;
  height: 20px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  cursor: pointer;
  margin: 3px; }

.menu__btn:active {
  border-color: aqua; }

.menu__btn:active::before {
  background-color: aqua; }

.menu__btn::before {
  display: block;
  width: 30px;
  height: 5px;
  background-color: black;
  top: 7px;
  position: absolute;
  content: ""; }

@media screen and (max-width: 640px) {
  .menu__item {
    display: block; }

  .menu__btn {
    display: block; } }
@media screen and (min-width: 641px) {
  .menu {
    margin-top: -18px; }

  .menu__list {
    display: block;
    border: 0px; } }
