$mainColor: #25354f; //blue
$Col2: #c31200; //red 
$Col3: red;
$Bg1: #FFF;
$Bg2: #eff0f9; //grey


$formColor: $mainColor;

/*
---------------------------------
    RESPONSIVE LAYOUT
---------------------------------
*/
$S:     480px;   
$M:     768px;     
$L:     1170px;         
// layout - media queries
@mixin MQ($screenSize) {
  @if $screenSize == S {
   @media screen and (min-width: $S) { @content; } 
  }
  @else if $screenSize == M {
   @media screen and (min-width: $M) { @content; } 
  }
  @else if $screenSize == L {
   @media screen and (min-width: $L) { @content; } 
  }
}



/*
---------------------------------
		FLEX GRID v1.0
---------------------------------
*/
.flex-row {
  display: flex; 
}
.col {
	margin: 20px;
}

.col {flex:1}
.col3 {flex:3}
.col7 {flex:7}
/* !!! */
@media (max-width: 700px) { 
  .flex-row {
    display: block;
    .col{
      flex: 1  /* ??? toto treba? */
    }
  }
}




@import 'googlemap';
@import 'form';
@import 'icons';





/*
---------------------------------
		New 
---------------------------------
*/

* { margin: 0px; }


body, html {
	background-color: $Bg2;
	font-family: 'Play', sans-serif;
	color: #333;
	letter-spacing: 0.1em;
}


body, html {
    height: 100%;
}


nav{
	background-color: $Col2;
	width: 100%;
	height: 0px;
}

header {  
	.logo{
		content:url("../media/logo.png"); 
		height: 200px;
		@media (max-width: 500px) { 
  			height: 100px;
    	}
 	 }
}



#line {
	background: url("../media/line.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 10px;
    

}

a:link,  
a:visited,
a:active {
	color: $mainColor;
}

a:hover {
	color: $Col2;
}



/*
---------------------------------
		New 
---------------------------------
*/

.text{
	padding: 3%;
	 @media (max-width: 500px) { 
        padding: 0%;
      }
	.center {
		text-align: justify;
	}
	p {	
		position: relative;
		text-indent: 50px;
		}
	
	ul {
		padding: 10px;
		text-align: left;
		display: table;   /* aha! */
		li {
			list-style-type: none;
			padding: 0px;
			display: table-row;  /* aha! */
			&:before {
			display: table-cell; /* aha! */
			content: "✓";
  			padding-right: 10px;
  			color: #999;
  			font-size:0.7em;		
			}
		}

	}
	.left {
		text-align: left;
		p {
			padding-top: 30px;
			font-weight: 700;
		}
	}
}

h2{
	margin: 0px;
	color: $Col2;
	text-shadow: 2px 2px 2px $mainColor;
	//text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin-top: 40px;	

	&#i1:before{
		content: url(../media/icon2.png);
		padding-right: 20px;	
		display: table-row;
		opacity: 0.2;
	}
	&#i2:before{
		content: url(../media/icon1.png);
		padding-right: 20px;
		display: table-row;	
		opacity: 0.2;
	}
	&#i3:before{
		content: url(../media/icon3.png);
		padding-right: 20px;
		display: table-row;	
		opacity: 0.2;
	}
}

.bigger {
	font-size:120%;
	margin: 20px 0px 20px 0px;
	 @media (max-width: 500px) { 
	 	font-size:100%;
        margin: 0px;
      }
}

.fakturacne {
	font-size: 80%;
}


.shadow {
	height: 5px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	z-index: 999999;
}

/*
---------------------------------
		New 
---------------------------------
*/
#parallax-A {
	background: url("../media/bckg1.jpg");
	min-height: 70%;
	padding-bottom: 20px;
}

#parallax-B {
	background: url("../media/bckg2.jpg");
	min-height: 70%;
	padding-bottom: 20px;
}

#parallax-C {
	background: url("../media/bckg3.jpg");
	//min-height: 70%;
	height: 30%;
	padding-bottom: 20px;
}

/*
---------------------------------
		KONTAKT
---------------------------------
*/

.kontakt {
  text-align: left;
  padding: 5%;
  color: $mainColor;
}

.kontakt a{
	text-decoration: none;
}

.kontakt a:hover{
  
}


/*
------------------------------------------------------------------
		MENU
------------------------------------------------------------------		
*/


/*
---------------------------------
	SICKY 
---------------------------------
*/
.top-border{
		height: 3px;
		width: 100%;
		background-color: black;
		position: fixed;
		z-index: 100000;
}
.sticky {
	display:none; /* je riadeny JS po scrollovani */
	position: fixed;
	top: 0;
	z-index: 100001;
	height: 60px;
	width: 100%;
	background-color: $mainColor;
	box-shadow: -1px 0px 8px 3px rgba(0,0,0,0.75);
	border-bottom: solid 4px black;
	.logo-sticky {
		margin-left: 20px;
		height: 60px;
		img {
			height: 100%;
			position: absolute;
		}
	}

	.menu-large {
		visibility: hidden;
		@include MQ(M) {
			
		}
		float: right;
		margin-top: -70px;
		p {
		display: inline-block;
		padding: 30px;
		font-weight: 700;
		font-family: "Montserrat";
		text-transform: uppercase;
		}
	}	
	.menu-mobile {
		visibility: hidden;
	}
}



.menu {
position: fixed;
	right: 30px;
  margin-top:10px;
  padding-right: 20px;
  background-color: transparent;
  float: right; 
  z-index: 100000000;
  ul {margin: 0px; padding: 0px;}

  
}

.menu__list {
  padding: 0;
  margin: 0;
  float: right;
  padding-right: 20px;
  text-align: right;
  border: black solid 3px;
  transition: all 2s ease;
  background-color: transparent;
  list-style: none;
}

.menu__list--unvisible {
  display: none;
}

.menu__item {
  display: inline-block;
  background-color: $mainColor; 
  padding: 5px;
  a {
  	font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: $Bg2;
  }

}

.menu__link {
  text-decoration: none;
  color: $Bg2;
  display: block;
  padding: 10px;
}

.menu__item:hover {
  	background-color: black;
  	color: $mainColor; 
  
  a {
  	background-color: $Col2;
  	color: $Bg2; 
  }
}

.menu_border{
	padding: 2px; 
	
	background-color: white;
}

.menu__btn {
  position: relative;
  float: right;
  display: none;
  width: 30px;
  height: 20px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  cursor: pointer;
  margin: 3px;


}

.menu__btn:active {
  border-color: aqua;
}

.menu__btn:active::before {
  background-color: aqua;
}

.menu__btn::before {
  display: block;
  width: 30px;
  height: 5px;
  background-color: black;
  top: 7px;
  position: absolute;
  content: "";
}



@media screen and (max-width: 640px) {
  .menu__item {
    display: block;
  }
  
  .menu__btn {
    display: block;
  }
}

@media screen and (min-width: 641px)  {
  .menu {
  	margin-top:-18px;
  }
  .menu__list {
    display: block;
    border: 0px;
  }
}






